<!DOCTYPE HTML>
<html><head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="pc,mobile" name="applicable-device">
<meta content="no-transform" http-equiv="Cache-Control">
<meta content="no-siteapp" http-equiv="Cache-Control">
<meta content="width=device-width" name="viewport">
<link href="__PUBLIC__/css/style.css" media="screen" type="text/css" rel="stylesheet">
<script src="__PUBLIC__/js/jquery.min.js"></script> 
<title>怀着一颗感恩之心出发，珍惜眼前一切，勇往直前！！！1</title><meta content="怀着一颗感恩之心出发，珍惜眼前一切，勇往直前" name="keywords">
<meta content="怀着一颗感恩之心出发，珍惜眼前一切，勇往直前。" name="description">
</head>
<body class="archive category category-philosophy-life category-18">
<div class="topbar">
	<div class="inner">
		<a title="怀着一颗感恩之心出发，珍惜眼前一切，勇往直前" href="" class="logo">璐在手中</a>
		<ul class="nav">
			<volist name="types" id="vo">
				<li class="menu-item menu-item-type-taxonomy menu-item-object-category" id="menu-item-180">
					<a href="__MODULE__/List/index/typeid/{$vo.id}" title=" ">{$vo.typename}</a>
				</li>
			</volist>
		</ul>
	</div>
</div>