html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{ 
	margin:0;
	padding:0;
}
body{ 
	background:#eee; 
	font-size:12px; 
	font-family:"Microsoft YaHei","Helvetica Neue", Helvetica, Arial, sans-serif;
}
.h1, .h2, .h3, h1, h2, h3{
	margin:0;
}
a:hover,.orange{
	color:#ff8d20;
}
p{
	margin:0;
}
ol li,ul li{ 
	list-style:none;
}
li,img{ 
	vertical-align:middle;
}
.container{
	padding:0;
}
.row{
	margin:0;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding:0;
}
.tc{
	text-align:center;
}
.text_hide{ 
	display:block; 
	overflow:hidden; 
	white-space:nowrap; 
	text-overflow:ellipsis;
}
.bgff{
	background:#fff;
}
.hr{
	border-top:1px solid #ccc;
}
.hr-5{
	margin-top:5px;
	margin-bottom:5px;
	border-top:1px solid #ccc;
}
.hr-10{
	margin-top:10px;
	margin-bottom:10px;
	border-top:1px solid #ccc;
}
.hr-15{
	margin-top:15px;
	margin-bottom:15px;
	border-top:1px solid #ccc;
}
.btn{
	padding:0;
}
.mb20{
	margin-bottom:20px;
}
/* IconFont 图标 */
@font-face {
	font-family: 'iconfont';
    src: url('../fonts/iconfont.eot'); /* IE9*/
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
	font-family: "iconfont" !important;
	font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.none{ display:none;}
.fl,.f-fl{ float:left; display:inline;}
.fr,.f-fr{ float:right; display:inline;}
.clearfix:after,.clear:after{ clear:both; content:"."; display:block; height:0; visibility:hidden;}
.clearfix,.clear{ zoom:1;}
.mb20{margin-bottom: 20px;}
.mt20{margin-top: 20px;}