<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>修改文章</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <link href="<?php echo ADMIN_CSS ?>mine.css" type="text/css" rel="stylesheet">
    </head>

    <body>

        <div class="div_head">
            <span>
                <span style="float:left">当前位置是：文章管理-》修改文章信息</span>
                <span style="float:right;margin-right: 8px;font-weight: bold">
                    <a style="text-decoration: none" href="__CONTROLLER__/showlist">【返回】</a>
                </span>
            </span>
        </div>
        <div></div>

        <div style="font-size: 13px;margin: 10px 5px">
            <form action= " " method="post" enctype="multipart/form-data">
            <table border="1" width="100%" class="table_a">
                <tr>
                    <td>标题</td>
                    <td>
                        <input type="text" name="title" value="{$res.title}" />
                         <input type="hidden" name="id"  value="{$res.id}" style="width:250px;" />
                    </td>
                </tr>
                <tr>
                    <td>作者</td>
                    <td><input type="text" name="author" value="{$res.author}" /></td>
                </tr>
                <tr>
                    <td>热门</td>
                    <td><input type="checkbox"  <if condition="$res['hot'] eq 1"> checked="checked"</if> name="hot" /></td>
                </tr>
                <tr>
                    <td>最新</td>
                    <td><input type="checkbox" <if condition="$res['new'] eq 1"> checked="checked"</if> name="new" value=" 1" /></td>
                </tr>
                <tr>
                    <td>文章分类</td>
                    <td>
                        <select name="typeid">
                            <option>请选择</option>
                             <volist name="types" id="vo">
                                <option value="{$vo.id}" <if condition="$res['typeid'] eq $vo['id']"> selected="selected" </if>>{$vo.typename}</option>
                            </volist>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>缩略图</td>
                    <td><input type="file" name="pic" value="" />
                        <if condition="$res['pic'] neq ''"> 
                            <img src="__ROOT__{$res.pic}" height="40" width="40">
                        <else />
                        <span color="#ccc"> 暂无缩略图,请添加</span>
                        </if>
                    </td>
                </tr>
                <tr>
                    <td>文章内容</td>
                    <td>
                        <textarea style="width:500px; height: 300px;" name="desc">{$res.desc}</textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="修改">
                    </td>
                </tr>  
            </table>
            </form>
        </div>
    </body>
</html>