<div id="header">
    <div class="layout">
	    <div id="nav">
	        <div class="nav">
	        	<ul>
	        	<li class="mnav"><a href="__APP__" class="mnava <if condition="$index">foucs</if>" ><p>网站首页</p><p class="en">Home</p></a>
					</li>
	        		<volist name="cate" id="data">
	        		<li class="mnav"><a href="__MODULE__/<if condition='$data[cate_type] eq 1'>Lst<else/>Page</if>/index/cate_id/{$data.cate_id}" class='mnava'><p>{$data.cate_name}</p><p class='en'>{$data.cate_ename}</p></a>
		         			<ul class="smenu">
		          				<volist name=":getSub($data[cate_id])" id="data">
						            <li>
						             <a href="__MODULE__/Lst/index/cate_id/{$data.cate_id}">{$data.cate_name}</a>
						            </li>
					        	</volist>
					        </ul>
					    </li>
				    </volist>
	            </ul>
	        </div>
	    </div>
	    <div class="logo">
	      <a href="#"></a>
	    </div>
	</div>
</div>
<script>
	// $(document).ready(function(){
	// 	$('.nav .mnav').each(function() {
	// 		var curcurl = window.location.href;
	// 		var hrefs=$(this).find('.mnava').attr('href');
	// 		if (curcurl.indexOf(hrefs)) {
	// 			$(this).find('.mnava').addClass('foucs').siblings().removeClass('foucs');
	// 		}else{
	// 			$(this).find('.mnava').removeClass('foucs');
	// 		}
	// 	});

	// })
</script>