<!doctype html>
<html>
<head>
<base target="_self" />
<meta charset="UTF-8">
<title>创宜生物</title>
<link type="text/css" rel="stylesheet" href="<?php echo ADMIN_PC;?>style/style.css" />
<script type="text/javascript" src="<?php echo ADMIN_PC;?>style/jquery-1.8.0.min.js"></script>
</head>
<body>
<include file="Common/head" />
<div id="full-screen-slider-sec">
	<div class="layout">
      <div class="page-title">
       {$catetop.cate_name} 
      </div>
    </div> 
</div>
<div class="main">
   <div class="layout cnt2">
     <div class="left">
        <ul>
         <volist name="cateson" id="vo">
            <li><a <if condition="$vo['cate_id'] eq I('cate_id')"> class="foucs"</if> href="__MODULE__/Lst/index/cate_id/{$vo.cate_id}">{$vo.cate_name}</a></li>
         </volist>
         
        </ul>
     </div>
     <div class="right">
        <h1>
           <div class="page">
             <a href='__APP__'>网站首页</a>
             <volist name="res" id="vo">
              ><a href="<if condition="$vo['cate_type'] eq 0">__MODULE__/Page/index/cate_id/{$vo.cate_id}/<else/>javascript:;</if>">{$vo.cate_name}</a>
            </volist>
           </div>
           {$cateself.cate_name}
        </h1>
        <div class="cnt-in">
         <div class="news-list-wimg">
            <ul>
              <volist name="list" id="vo">
                <li>
                  <h3> <a href="__MODULE__/Article/index/ar_id/{$vo.ar_id}/">{$vo.ar_title}</a></h3>
                  <p>
                  <img src="<if condition="$vo['ar_pic'] neq ''" >__ROOT__/{$vo.ar_pic}<else/>__PUBLIC__/images/no.png</if> " width="120" height="90" style="float:left; margin-right:15px;">{$vo.ar_content|substr=###,0,30}
                    <span class="list-date">{$vo.ar_time|date="y-m-d",###}</span>
                  </p>  
                </li>
              </volist>
              {$page}
            </ul>
         </div>
          
            <div class="pages">
              
            </div>
        </div>
     </div>
     <div class="clr"></div>
   </div>
</div>
<include file="Common/foot" />
</body>
</html>
